<%
  var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
%>

<div class="more-stories">
  <div class="constrained">
    <!-- <h3><%= renderMarkdownText(data.overall.headline) %></h3> -->
    <div class="half">
      <h3><%= renderMarkdownText(data.quiz_hed.headline) %></h3>
      <ul class="outbound">
        <li class="quiz">
            <a href="<%= data.quiz.link %>" data-track="footer" data-label="quiz">
              <div class="img-wrapper">
                <img src="./assets/synced/images/resized/<%= data.quiz.thumbnail %>" alt="">
              </div>
              <span><%= renderMarkdownText(data.quiz.headline) %></span>
            </a>
          </li>
      </ul>
    </div>

    <div class="half">
      <h3><%= renderMarkdownText(data.other_hed.headline) %></h3>
      <ul class="outbound">
        <%
          ["alaska", "antarctica", "greenland", "nepal"].forEach(function(story) { 
           var display = (story != thisStory) ? "show" : "fade"; 
        %>
          <li class="<%= display %>">
            <% if (display == "show") { %>
              <a href="<%= data[story].link %>" data-track="footer" data-label="<%= story %>">
            <% } %>
                <div class="img-wrapper">
                  <img src="./assets/synced/images/resized/<%= data[story].thumbnail %>" alt="">
                </div>
                <span><%= renderMarkdownText(data[story].headline) %></span>
            <% if (display == "show") { %>
              </a>
            <% } %>
          </li>
        <% 
        });
        %>
      </ul>
    </div>
  </div>
</div>
