<%
  var storyTitle = social.title ? social.title : project.title;
  var storySeotitle = social.seotitle ? social.seotitle : storyTitle;
  var storyDesc = social.description ? social.description : project.description;
  var projectURL = project.url;
  var storyURL = projectURL;
  if (social.file) {
    storyURL += social.file;
  }
  var storyImg = projectURL + "assets/synced/images/resized/" + social.image;
  console.log(project);
%>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title><%= storySeotitle %> : NPR</title>
<meta name="description" content="<%= storyDesc %>">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="https://media.npr.org/templates/favicon/favicon-180x180.png" />
<link rel="icon" sizes="96x96" href="https://media.npr.org/templates/favicon/favicon-96x96.png" />
<link rel="icon" sizes="32x32" href="https://media.npr.org/templates/favicon/favicon-32x32.png" />
<link rel="icon" sizes="16x16" href="https://media.npr.org/templates/favicon/favicon-16x16.png" />

<!-- Safari, you're the worst -->
<meta name='format-detection' content='telephone=no'>

<!-- GDPR compliance -->
<script src="https://apps.npr.org/gdpr/gdprCompliance.js"></script>

<% if (!project.embedded) { %>

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= storyTitle %>">
<meta name="twitter:site" content="@nprviz">
<meta name="twitter:url" content="<%= storyURL %>">
<meta name="twitter:image" content="<%= storyImg %>">
<meta name="twitter:description" content="<%= storyDesc %>">

<!-- Social sharing meta -->
<meta property="og:type" content="article">
<meta property="og:title" content="<%= storyTitle %>">
<meta property="og:site_name" content="NPR">
<meta property="og:url" content="<%= storyURL %>">
<meta property="og:image" content="<%= storyImg %>">
<meta property="og:description" content="<%= storyDesc %>">

<!-- Facebook-specific meta -->
<meta property="fb:app_id" content="138837436154588">
<meta property="article:opinion" content="false">
<meta property="article:content_tier" content="free">
<meta property="fb:pages" content="10643211755">

<!-- Google structured data -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%= storyURL %>"
  },
  "headline": "<%= storyTitle %>",
  "image": {
    "@type": "ImageObject",
    "url": "<%= storyImg %>"
  },
  "author": {
    "@type": "Person",
    "name": "NPR Staff"
  },
  "publisher": {
    "@type": "Organization",
    "name": "NPR",
    "logo": {
      "@type": "ImageObject",
      "url": "<%= projectURL %>assets/logo.png",
      "width": 2176,
      "height": 725
    }
  },
  "description": "<%= storyDesc %>",
  "datePublished": "<%= new Date().toISOString() %>"
}
</script>

<!-- Chartbeat top -->
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<%
// if !project.embedded...
} 
%>

<%= t.include("partials/_webfonts.html") %>
