@import "base-graphics";

#chart-estimate {
  #line-chart {
    .lines {
      fill: none;
      stroke-width: 3px;
      stroke: #ccc;
    }
    
    .value text {
      font-size: 12px;
      font-weight: bold;
      fill: #999;
    }
    
    .hidden {
      display: none;
    }
    
    @media screen and (max-width: 500px) {
      .value text {
        font-size: 10px;
      }
    }
    
    @media screen and (min-width: 500px) {
      .key {
        display: none;
      }
    }
    
    @media screen and (max-width: 500px) {
      .key.one-line {
        display: none;
      }
    }
  }

  #line-chart[data-frame="galveston-chart-2"] {
    background-color: red;
  }
}