@import "base-graphics";

#chart-estimate {
  #line-chart {
    .lines {
      fill: none;
      stroke-width: 3px;
      stroke: #ccc;
    }
    
    .value text {
      font-size: 12px;
      font-weight: bold;
      fill: #ccc;
    }

    .annotations text {
      font-size: 16px;
      fill: #ccc;
    }
    
    .noShow {
      visibility: hidden;
    }

    .show {
      visibility: visible;
      stroke-dasharray: 1300;
      stroke-dashoffset: 1300;
      animation: dash 1s linear forwards;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }

    #High {
      fill: @blue4;
    }
    #Intermediate {
      fill: @blue5;
    }
    #Low {
      fill: @blue6;
    }
    
    @media screen and (max-width: 500px) {
      .value text {
        font-size: 10px;
      }
    }
    
    @media screen and (min-width: 500px) {
      .key {
        display: none;
      }
    }
    
    @media screen and (max-width: 500px) {
      .key.one-line {
        display: none;
      }
    }
  }

  // toggle which chart elements are visible at each stage
  #line-chart[data-frame="galveston-chart-1"] {
    .line2,
    .value,
    .annotations { 
      visibility: hidden;
    }
    // background: #454545;
  }
  #line-chart[data-frame="galveston-chart-2"] {
    .line2 {
      visibility: visible;
      stroke-dasharray: 1300;
      stroke-dashoffset: 1300;
      animation: dash 1s linear forwards;
    }
    .annotations { 
      visibility: hidden;
    }
    // background: #454545;
  }
  #line-chart[data-frame="galveston-chart-3"] {
    // background: #666;
  }
  #line-chart[data-frame="galveston-chart-4"] {
    // background: #454545;
  }
}