@import "legends";

@mapGrey: #666666;

div.magic-map.outer {
	position: fixed;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;

	&.exiting {
	    animation: fade-out .2s linear;
	    opacity: 0;

	}

	&.active {
	    animation: fade-in .2s linear;
	    opacity: 1;
	    z-index: 1;

	}

	> svg {
		width: 100%;
		height: 100%;
		overflow: visible !important;

		g.bbox {
			fill: none;
			stroke: none;

			// display: none;
			// stroke: none;

			path {
				vector-effect: non-scaling-stroke;
			}
		}
	}

	// base map styles
	#innerSVG {
		fill: none;
		stroke: @mapGrey;
		width: 100%;
		height: 100%;

		rect {
			fill: @off-black;
			width: 5000;
			height: 5000;
		}

		path {
			&.outline {
				fill: @off-black;
			}

			&.grid {
				stroke-width: 0.5px;
				stroke: @mapGrey;
			}

			&.feature {
				stroke: @off-black; 
				stroke-width: 2px;
				fill: @mapGrey;
			}
		}
	}
}

defs {
	#arrowhead-hot    {fill: @hot;}
	#arrowhead-cold   {fill: @cold;}
	#arrowhead-cooler {fill: @cooler;}
	#arrowhead-whale  {fill: @whales;}
}

g#lineBox, g#vectorBoxover {
 .hot, .hotter, .custom-hot, .custom-hotter {
	  /* filter: url(#shadow); */   
	  stroke: @hot;
	  marker-end: url(#arrowhead-hot); 
	}

	.cooler, .custom-cooler  {
	   /* filter: drop-shadow(0px 1px 1px #333); */
	  stroke: @cooler;
	  marker-end: url(#arrowhead-cooler); 
	}

	.cold, .custom-cold {
		stroke: @cold;
		marker-end: url(#arrowhead-cold);
	} 

	.fresh {
		stroke: @freshwater;
		marker-end: url(#arrowhead-cooler); 
		stroke-width:2px;
		stroke-linecap: square;
	}
	
	.whales, .whales1 {
		stroke: @whales;
		stroke-width: 4px;
		stroke-dasharray: 5;
		marker-end: url(#arrowhead-whale);
	}
}
body#quiz #vectorBoxover .line, .lines {
  stroke-width: 4px;
  stroke-linecap: round;
}

[data-name="map-whale-routes"] {
	g#lineBox .whales1 {
		opacity: 0.25;
	}
}

body#quiz #vectorBoxover {
	.custom-whales, .custom-whales1 {
		display: none;
	}
}

// antarctica maps
[data-name="map-antarctica-currents-1"] g#lineBox {
  .lines {
    stroke-width: 3px;
  }
}
[data-name="map-antarctica-currents-3"] g#lineBox,
[data-name="antarctica-4"] g#lineBox {
  .lines {
    opacity: 0.4;
    stroke-width: 2px;
  }
  .gulf {
    opacity: 1;
    stroke-width: 3px;
  }
}
[data-name="map-antarctica-currents-2"] g#lineBox,
[data-name="antarctica-4"] g#lineBox {
  .lines {
    opacity: 0.4;
    stroke-width: 2px;
  }
  .cycle {
    opacity: 1;
    stroke-width: 3px;
  }
}
[data-name="map-antarctica-currents-3"] g#lineBox,
[data-name="antarctica-4"] g#lineBox {
  .cycle.gulf {
    stroke-width: 8px;
  }
}


g#labelBox {
	.label {
		fill: black;
		stroke: none;
	}	

	text {
		display: none;
		text-anchor: middle;
		font-family: @sans;
		fill: #333;

		&.active {
			display: block;
		}

		&.annotation {
			font-family: @lato;
			text-anchor: start;
			fill: white;
		}

		&.ice {
			font-size:16px;
			// text-transform: uppercase;
			// font-weight: bold; 
			font-style: italic;
			font-family: @lato;
			text-shadow: 0px 0px 1px #fff;
	    stroke-width: 3px;
	    stroke: #fff;
	    paint-order: stroke;
		}

		&.land {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold; 
			font-family: @lato;
			// text-shadow: 0px 0px 1px #fff;
	    // stroke-width: 3px;
	    // stroke: #fff;
	    // paint-order: stroke;
	    fill: white;
		}

		&.water {
	    font-family: @serif;
	    font-style: italic;
	    font-size: 18px;
	    fill: white;
	    text-shadow: 0px 0px 4px #333;
	    stroke-width: 1px;
	    stroke: #333;
	    // text-shadow: 0px 0px 1px #fff;
	    // stroke-width: 3px;
	    // stroke: #fff;
	    paint-order: stroke;
		}
	}
}

// antarctica label tweaks
[data-name="antarctica-4"],
[data-name="map-antarctica-currents-1"],
[data-name="map-antarctica-currents-2"],
[data-name="map-antarctica-currents-3"] {
  g#labelBox text {
    &.land {
      .lato();
      font-style: italic;
      font-weight: 900;
      letter-spacing: 0.1em;
      font-size: 13px;

      @media screen and @mobile-above {
        font-size: 15px;
      }
    }
    &.water {
      font-size: 15px;

      @media screen and @mobile-above {
        font-size: 15px;
      }
    }
  }
}

g#vectorBox,g#vectorBoxunder,g#vectorBoxover {
	path {
		stroke-linejoin: round;
		stroke-linecap: round;
	}

	.ice-greenland {
		stroke: #999;
		stroke-width: 1px;
		stroke-dasharray: 2;	
		opacity: 0.5;
		fill: #ADD8E6;
	}

	.temp-clipped {
		opacity: 1;
    stroke: none;
		&.custom--5	{fill:#3690c0}
		&.custom--4	{fill:#74a9cf}
		&.custom--3	{fill:#a6bddb}
		&.custom--2	{fill:#d0d1e6}
		&.custom--1	{fill:#f1eef6}
		&.custom-0	{fill:#fff;}
		&.custom-1	{fill:#fef0d9}
		&.custom-2	{fill:#fdd49e}
		&.custom-3	{fill:#fdbb84}
		&.custom-4	{fill:#fc8d59}
		&.custom-5	{fill:#ef6548}
		&.custom-6	{fill:#d7301f}
		&.custom-7	{fill:#990000}		
	}
}