.slide.quiz {
  &.opposing {
    .backdrop {
      object-fit: cover;
      height: 100%;
    }

    @media @mobile-above {
      .backdrop {
        max-width: unset;
      }
    }
  }  

  .text {
    background: fade(darken(@true, 25%), 90%);

    h3 {
      .sourceSansPro-header();
      font-size: 1rem;
      margin-top: 0;
    }
  }

  .answers {
    margin-top: 33px;
  }

  // initial reset styles via https://css-tricks.com/overriding-default-button-styles/
  button {
    .sourceSansPro();
    display: block;
    border: 1px solid fade(#fff,0);
    border-radius: 4px;
    padding: 15px 22px;
    margin: 0;
    width: 100%;
    background: @true;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, border-color 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    + button {
      margin-top: 22px;
    }

    &:hover,
    &:focus {
      background: fade(@true, 20%);
      outline: 1px solid fade(#fff, 60%);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &[data-answered="true"] button {
    pointer-events: none;

    &[data-status="true"] {
      background: teal;
    }
    &[data-status="false"] {
      background: #787878;
      color: #ddd;
    }

    i {
      .sourceSansPro-upper();
      display: inline-block;
      font-style: normal;
      font-size: 0.85rem;
      background: #fff;
      color: teal;
      padding: 2px 6px;
      border-radius: 4px;
      margin-left: 8px;
    }
  }

  .text {
    border: 1px solid fade(#fff, 60%);
  }
}