.slide.text + .slide .text {
  margin-top: 0px;
}

.slide.quiz {

  .quiz-viz {
    object-fit: cover;
    height: 100vh;
  }

  @media screen and (max-width: 599px) {
    .quiz-viz {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: fixed;
      z-index: -10;
      overflow: hidden;
    }

    &.active.backdrop {
      display: block;
      animation: fade-in 0.2s linear;
      opacity: 1;
    }
  }

  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: row-reverse;

    .half {
      width: 50%;
    }

    .quiz-viz {
      max-width: unset;
    }
  }
 

  .scroll-bug {
    background: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    width: 15px;
  }

  .text {
    margin-top: 0px; 

    @media screen and (min-width: 600px) {
      background: none;
      float: none;
      box-shadow: none; 
      margin-top: 0px; 
    }

    h3 {
      .sourceSansPro-header();
      font-size: 1rem;
      margin-top: 0;
      color: @accent-light;
    }
  }

  .answers {
    margin-top: 33px;
  }

  // initial reset styles via https://css-tricks.com/overriding-default-button-styles/
  button {
    .sourceSansPro();
    display: block;
    border: 1px solid fade(#fff,60%);
    border-radius: 4px;
    padding: 15px 22px;
    margin: 0;
    width: 100%;
    background: @off-black;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, border-color 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    + button {
      margin-top: 22px;
    }

    &:hover,
    &:focus {
      background: fade(@white, 20%);
      outline: 1px solid fade(#fff, 60%);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &[data-answered="true"] button {
    pointer-events: none;

    &[data-status="true"] {
      background: @white;
      color: @accent-dark;
    }
    &[data-status="false"] {
      background: fade(@white, 10%);
      color: @white;
    }

    i {
      .sourceSansPro-upper();
      display: inline-block;
      font-style: normal;
      font-size: 0.85rem;
      background: #fff;
      color: @accent-dark;
      padding: 2px 6px;
      border-radius: 4px;
      border: 2px solid @accent-dark;
      margin-left: 8px;
    }
  }
}

//ai2html styles
@media screen and (min-width: 729px) {
    #g-_ice-diagram-flood-small, #g-_ice-diagram-flood-medium { display: none; }
    #g-_ice-diagram-flood-wide {
      padding: 20px;
      padding-bottom: 50px;
    }
}

@media screen and (max-width: 728px) and (min-width: 410px) {
    #g-_ice-diagram-flood-small, #g-_ice-diagram-flood-wide { display: none; }
}

@media screen and (max-width: 409px) {
    #g-_ice-diagram-flood-medium, #g-_ice-diagram-flood-wide { display: none; }
}