@import "base";
@import "seed";

#valley-home-2 {
  .scroll-bug {
    margin-bottom: 80vh;
  }
}

#valley-river-threat {
  min-height: 120vh;

  .scroll-bug {
    margin-top: 60vh;
    margin-left: 60px;
  }
}