@import "base";
@import "seed";
@import "map";
@import "map_block";
@import "chartGalveston";

#intro-galveston .text {
  .first-slide-text();
}

#questions {
  h3 {
    // font-style: italic;
    font-weight: normal;
    font-size: 1.25rem;
    // color: @accent-light;
    text-align: center;
    width: 48%;

    &:nth-of-type(1) {
      float: left;
    }
    &:nth-of-type(2) { 
      float: right;
    }

    b { 
      font-weight: 900;
      white-space: nowrap;
    }
  }
  p:nth-of-type(1) {
    .sketchy-divider();
    clear: both;

    &:before {
      margin-bottom: 10px;
    }
  }
}

// mobile styles for illo
@media screen and @mobile-above {
  #mobile-sea-level-illo-1, #mobile-sea-level-illo-2 { display: none; }
  #sea-level-illo { display: block; }
}

@media screen and @mobile {
  #mobile-sea-level-illo-1, #mobile-sea-level-illo-2 { 
    display: block; 

    img {
      padding: 20px;
    }
  }
  #sea-level-illo { display: none; }
}

// desktop ai2html artboard sizes for illo
@media screen and (min-width: 729px) {
    #g-_sea-level-illo-small, #g-_sea-level-illo-medium { display: none; }
    #g-_sea-level-illo-box { 
      width: 50%;
      height: 100%;
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-right: 20px; 
    }
    #g-_sea-level-illo-wide {
      min-width: 100% !important; 
    }
}

@media screen and (max-width: 728px) and (min-width: 410px) {
    #g-_sea-level-illo-small, #g-_sea-level-illo-wide { display: none; }
}

@media screen and (max-width: 409px) {
    #g-_sea-level-illo-medium, #g-_sea-level-illo-wide { display: none; }
}