<section class="ai2html slide <%= slide.id %>" id="<%= slide.id %>">

  <div class="backdrop">
    <div class="frame-wrapper">
        <div class="frame frame-0"><%= t.include(`ai2html/_${slide.id}-0.html`, { slide }) %></div>
        <div class="frame frame-1"><%= t.include(`ai2html/_${slide.id}-1.html`, { slide }) %></div>
        <div class="frame frame-2"><%= t.include(`ai2html/_${slide.id}-2.html`, { slide }) %></div>
    </div>
  </div>

  <div class="watermark" alt="">
    <% if (slide.credit) { %>
      <%=slide.credit%>
    <% } %>
  </div>

  <div class="text">
    <div class="content">
      <%= t.renderMarkdown(slide.text) %>
    </div>
    <% if (slide.caption) { %>
    <div class="caption">
      <%= slide.caption %>
    </div>
    <% } %>
  </div>

</section>