<section class="quiz slide align-<%= slide.align || "left" %> <%= slide.layout %> <% if (slide.image) { %>image<% } %> <% if (slide.video) { %>video<% } %> <%= slide.classes %> <%= slide.constrain %>" id="<%= slide.id %>" <% if (slide.video) { %>data-type="video"<% } %>>

  <% if (slide.image) { %>
  <div class="half">
    <img
      src="./assets/synced/images/resized/<%= slide.image %>"
      class="quiz-viz"
      alt=""
      style="<%= t.style({
        "object-position": slide.anchor,
        "object-fit": slide.constrain
      }) %>"
    >
  </div>
  <% } %>

  <% if (slide.video) { %>
  <div class="half">
    <div class="video-container">
    <video
      data-src="./assets/synced/video/resized/<%= slide.video %>"
      data-poster="./assets/synced/video/resized/<%= slide.video %>.jpg"
      class="quiz-viz"
      autoplay
      playsinline
      muted
      loop
    ></video>
  </div>
  <div class="watermark" alt="">
    <div class="a11y-controls">
      <input type="checkbox" checked="checked" id="autoplay-video-<%= slide.id %>">
      <label for="autoplay-video-<%= slide.id %>">Autoplay video?</label>
    </div>
     <% if (slide.credit) { %>
    <%=slide.credit%>
    <% } %>
  </div>
</div>
  <% } %>

<div class="half">
  <div class="text">
    <div class="scroll-bug" aria-hidden="true">
      <svg class="drop" viewBox="0 0 50 50" height="0">
        <!-- <path d="M 0,0 L 25,25 50,0"></path> -->
        <img src="./assets/synced/illos/water-drop.svg" width="20">
      </svg>
    </div>

    <div class="content">
      <%= t.renderMarkdown(slide.text) %>
    </div>

    <% if (slide.answers) { %>
    <div class="answers">
      <% slide.answers.forEach(function(answer) { %>
        <button data-status="<%= answer.status %>"><%= answer.label %></button>
      <% }); %>
    </div>
    <% } %>

    <% if (slide.caption) { %>
    <div class="caption">
      <%= t.renderMarkdown(slide.caption) %>
    </div>
    <% } %>
  </div>
</div>
</section>
