<% var thisStory = "antarctica"; %>
<!doctype html>
<%
var doc = grunt.data.archieml.antarctica;
var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
%>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { "project": grunt.data.json.project, "social": doc.social }) %>
    <link rel="stylesheet" type="text/css" href="<%= thisStory %>.css">
  </head>
  <body>
    
    <%= t.include("_map.html") %>

    <main class="sequence">

      <%
        doc.sequence.forEach(function(slide) {
          if (slide.type == "skip") return;
          if (slide.type == "titlecard") {
            print(t.include(`_${slide.type || "image"}.html`, { "slide": slide, "thisStory": thisStory, "credits": grunt.data.json.credits }));
          } else {
            print(t.include(`_${slide.type || "image"}.html`, { slide }));
          }
        });
      %>

    </main>

    <footer class="closing">
      
      <%= t.include("partials/_footer_nav.html", { "data": grunt.data.json.footer_nav, "thisStory": thisStory }) %>

      <%= t.include("partials/_credits.html", { "credits": grunt.data.json.credits, "thisStory": thisStory }) %>

      <div class="constrained">
        <%= typeof content != "undefined" ? content : "" %>
        <div class="npr">
          <ul>
            <li><a href="https://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">Terms of Use</a></li>
            <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">Privacy</a></li>
            <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy#yourchoices" target="_blank">Your Privacy Choices</a></li>
            <li><a href="https://text.npr.org/" target="_blank">Text Only</a></li>
            <li>&copy; 2023 NPR</li>
          </ul>
        </div>
      </div>
      
    </footer>

    <script>
        <% var filteredMapLabels = grunt.data.json.map_labels.filter(d => d.chapter == thisStory); %>

        var THISSTORY = "<%= thisStory %>";
        var MAP_DATA = <%= JSON.stringify(grunt.data.json.antarctica_scenes) %>;
        var MAP_VECTORS = <%= JSON.stringify(grunt.data.json.map_vectors) %>;
        var MAP_LABELS = <%= JSON.stringify(filteredMapLabels) %>;
        window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
